<div class="col-xl-4 col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            src="{% static 'images/loteria-no-premio.png' %}"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Numero:  {{title}} | Jugado: {{desc}}€</p>
            <p class="text-muted mb-0 ">No premiado</p>
            <p class="text-muted mb-0 list-group-item-success rounded-3 p-2">PREMIADO</p>
          </div>
        </div>
      </div>
    </div>
  </div>